NODE_ID=CALICUT
LOCATION=CLT
CENTRAL_API_URL=http://0.0.0.0:8000
# Add the streams you want to process, separated by commas
RTSP_STREAM=in1.mp4,in2.mp4
REDIS_HOST=localhost
REDIS_PORT=6379
DEV_MODE=0
VISUAL_MODE=1

# System autoscaling guardrails
MAX_CPU_PERCENT=85
MAX_RAM_PERCENT=85

# OCR worker scaling
OCR_MIN_WORKERS=1
OCR_MAX_WORKERS=2
OCR_SCALE_THRESHOLD=20

# Color worker scaling
COLOR_MIN_WORKERS=1
COLOR_MAX_WORKERS=2
COLOR_SCALE_THRESHOLD=20

# Logo worker scaling
LOGO_MIN_WORKERS=1
LOGO_MAX_WORKERS=2
LOGO_SCALE_THRESHOLD=20

# Violation worker scaling
VIOLATION_MIN_WORKERS=1
VIOLATION_MAX_WORKERS=2
VIOLATION_SCALE_THRESHOLD=15