NODE_ID=CALICUT
LOCATION=CLT
CENTRAL_API_URL=http://0.0.0.0:8000
# Add the streams you want to process, separated by commas
RTSP_STREAM=in1.mp4,in2.mp4
REDIS_HOST=localhost
REDIS_PORT=6379
VISUAL_MODE=1